.page {
    bottom: 2.5rem;
     /* top: 2.2rem;  */
    height: auto;
}

#todo,
#message,
#monitor,
#report {
    -webkit-animation-duration: 0s;
            animation-duration: 0s;
}

#message .ms-deal span,
#message .ms-undeal span {
    position: absolute;
    right: 0;
    color: green;
}

#message .ms-undeal span {
    color: red;
}

#monitor .tab ul .item-text {
    text-align: right;
    font-weight: bold;
    color: red;
}

#monitor .tab ul .normal {
    color: green;
}

#monitor .tab ul .warning {
    color: orangered;
}

#monitor .tab ul .danger {
    color: red;
}


#settings {
    background-color: #fff;
}

#settings p:nth-child(1){
    text-align: center;
}

#settings .close-panel
{
    position: absolute;
    left: 1rem;
}